* {
    box-sizing: border-box;
}

body{
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: .95;
    font-family: system-ui;
}

form{
    width: 450px;
    height: auto;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color: #FFFFFF;
    text-align: center;
}


.text-input{
    background: none;
    color: #c6c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: none;
}

.tittle_form{
    margin: 2% auto 5% auto;
    text-align: center;
    font-size: 150%;
}

.form-input{
    width: 240px;
    height: 50px;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    color: #5E6472;

    outline: none;
    border: none;
    border-bottom: 1px solid;

    transition: 0.2s linear;
}
.input-submit{
    border: none !important;
    font-weight: bold;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.input-submit:hover{
    transform: translatey(3px);
    box-shadow: none;
}

.input-submit:hover{
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

a{
    text-decoration: none;
    background-color: transparent;
    color: #000000;
    transition: opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1),color 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}

.warnings{
    color: red;
}

.href-item{
    margin-top: 20px;
}

label{
    font-size: 16px;
}

input:focus{
    color: #5E5D5DFF;
}
