<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Generator</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <form action="/verify" method="POST">
        <h1>Configura 2FA</h1>
        <br>
        <div>
            <img name="img_qr" src="{{qr}}">
        </div>
        <div>
            <p>Código 2FA</p>
            <p>{{warnings}}</p>
        </div>
        <div class="input-item group">
            <input type="text" class="form-input text-input" name="auth_code" id="auth_code" placeholder="Código">
        </div>
        <br>
        <div class="input-item">
            <input type="submit" class="form-input input-submit" value="Enviar">
        </div>
    </form>
</body>
</html>