<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <form action="/register" name="register" id="formRegister" class="formRegister" method="POST">
        <h2 class="tittle_form">CREAR UNA CUENTA</h2>
        <div class="input-item group">
            <p class="warnings" id="userWarnings">{{userWarnings}}</p>
            <input type="text" class="form-input text-input" id="user" name="user" placeholder="Usuario">
        </div>
        <br>
        <div class="input-item group">
            <p class="warnings" id="passwWarnings">{{passwWarnings}}</p>
            <input type="password" class="form-input text-input" id="passw" name="passw" placeholder="Contraseña">
        </div>
        <br>
        <div class="input-item">
            <input type="checkbox" name="auth_checkbox" id="authenticator_checkbox" value="true"><strong>2FA</strong>
        </div>
        <br>
        <div class="input-item">
            <input type="submit" class="form-input input-submit" value="Guardar">
        </div>
        <br>
        <div class="href-item">
                <p> ¿Ya tiene una cuenta? <a href="/">¡Inicie sesión!</a></p>
        </div>
        <br>
        <div>
            <p class="warnings" id="warnings">{{warnings}}</p>
        </div>
    </form>
</body>
</html>